
.overAllContainer {
    width: 65rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

}

.handsSideBySide {
    display: flex;
}

.verticalCardContainer {
    width: 4rem;
    margin-right:1rem;
}

.gameBoardContainer {
    background-color: green;
    border: 5px solid black;
    border-radius: 5%;
    height: 30rem;
    width: 100%;
}

.tableContainer {
    padding-top: 6rem;
    height: 18rem;
    padding-left: 30%;
    width: 40%;
}

.tableGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}