.overAllContainer {
    width: 65rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

}

.handsSideBySide {
    display: flex;
}

.verticalCardContainer {
    width: 4rem;
    margin-right:1rem;
}

.gameBoardContainer {
    background-color: green;
    border: 5px solid black;
    border-radius: 5%;
    height: 30rem;
    width: 100%;
}

.horizontalPlayerTag {
    text-align: center;
}

.verticalPlayerTagLeft {
    margin: auto;
    transform: rotate(90deg);
}

.currentPlayerLabel {
    color: black;
    text-align: center;
    margin: auto;
    border: 1px solid black;
    border-radius: 5%;
    background-color: white;
    padding: 0rem 0.25rem;
}

.verticalPlayerTagRight {
    margin: auto;
    transform: rotate(-90deg);
}

.displayElementsInOneLine {
    display: flex
}

.tableContainer {
    padding-top: 6rem;
    height: 18rem;
    padding-left: 20%;
    width: 60%;
}

.tableGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.splitPromptContainer {
    border: 1px solid black;
    background-color: white;
    border-radius: 1%;
    height: 100%;
    text-align: center;
}

.splitPromptTextContainerErrorText{
    margin-top: -1rem;
    color:red;
}

.splitPromptTextContainer{
    margin: 0.5rem;
}

.splitPromptFromSubmitButton {
    margin-top: 1rem;
}

.roundOverTable{
    margin:auto;
    width: 90%;
}