.handContainer {
    display: grid;
    width: 100%;
}

.playCardButton {
    float: left;
    width: 10.5rem;
    margin-top: 0.25rem;
    margin-left: 0.75rem;
}

.horizontalList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    // display: flex;
    height: 6rem;
}

.horizontalListItem {
    float: left;
    margin-left: 0.125rem;
    display: inline;
}

.verticalList{
    list-style-type: none;
} 

.verticalListItem{
    margin-bottom: 0.125rem;
}