.container {

}

.statusTableContainer {
    padding-right: 1rem;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 1%;
}

// .gameInfoTable{
//     border: 1px solid black;
// }


.gameInfoTableRow {

}

.gameInfoTableHeader{
    border: 1px solid black; 
}