.roomChatList {
    list-style: none;
}

.roomChatListItem {
    margin-bottom: -0.625rem;
    line-height: 1.25;
    margin-left: -2.35rem;
}

.playerJoinText {
    color: green;
}

.playerLeaveText {
    color: red;
}