.indicatorBoxContainer{
    height: 10rem;
    margin: 0.125rem;
    margin-bottom: 1rem;
}
.containerLabel {
    height: 1.5rem;
    margin-left: 0.25rem;
}
.indicatorBoxCnotent{
    height: 8.5rem;
    overflow-y: scroll;
}