.handContainer {
    display: grid;
    width: 100%;
}

.horizontalList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    // display: flex;
    height: 6rem;
}

.verticalList{
    display: grid;
    grid-template-columns: 1fr;
    width: 4rem;
    height: 28.25rem;
    grid-template-rows: 1fr 1fr 1fr 1fr;
} 

.verticalListItem{
    margin-bottom: 0.125rem;
}

.horizontalListItem {
    padding-left: -0.125rem;
    padding-right: -0.125rem;

}