.roomChatContainer {
    max-height: 10rem;
}

.roomChatListContainer {
    background-color: #c5c5c5;
    border: 1px solid black;
    overflow: auto;
    max-height: 17.5rem;

}

.roomChatList {
    list-style: none;
}

.roomChatListItem {
    margin-left: -1.5rem;
}

.playerJoinText {
    color: green;
}

.playerLeaveText {
    color: red;
}